.bold-text {
    font-weight: 900;
}

#welcome-txt {
    font-size: 5vw;
}

.login-form-container{
    background-image: url("../../assets/Cover Photo.jpg");
    background-position: center;
    background-size: cover!important;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.ref {
    color: white;
}
.ref :hover {
    color: #4ecdc4 !important;
}

.login-form {
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: #1a535c;
    width: 50vw;
    border-radius: 20px;
    padding: 30px;
    color: white;
}

.field {
    background-color: #e7e7e7;
}

.enabled-login-btn {
    border-radius: 5px;
    background-color: #FFE66D;
    border: none;
}

.disabled-login-btn {
    border-radius: 5px;
    border: none;
    background-color:lightgray;
    color:dimgray;
}

.google-login-btn {
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 40px;
    line-height:15px;
}

.google-login-btn div {
    padding: 0px!important;
    margin:0px !important;
}

.google-login-btn span {
    padding: 0px!important;
    margin:0px !important;
}

.register-ref {
    margin-top:20px !important;
}