
.home-head-bar>div{
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 4vw;
    /*background-color: #ff6b6b;*/

    background-image: linear-gradient(
            rgba(255, 107, 107, 0.55),
            rgba(255, 107, 107, 0.55)
    ),url("../../assets/Cover Photo.jpg");
    background-position: center;
    background-size: cover!important;
    background-repeat: no-repeat;
    color: white;
    height: 230px;
    display:flex;
    flex-direction: row;
}

.not-fixed{
    position: center !important;
}

.loghme-img {
    width:90px;
    height:90px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.home-text{
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px darkgrey;
    position: relative;
    top: 50px;
}

.search-input-filter::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: darkgray;
}

.search-input-filter {
    background-color: #e2e2e2 !important;
    /*border-radius: 10px ;*/
    /*margin-left: 10px;*/
    height: 50px !important;
    color: black !important;
}

.filter-inputs{
    padding: 15px;
}

.load-more-btn {
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #f7fff7;
    color: #4ecdc4;
    margin-bottom: 15px !important;
    font-size: 15px;
}

.home-page-btn {
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #FFE66D;
    color:#1a535c;
    font-weight: 900;
}

.restaurants-container {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.restaurants-list {
    margin-top: 30px;
    /*padding-right: 50px;*/
    /*padding-left: 50px;*/
}
.make-center {
    margin-left: auto;
    margin-right: auto;
}

.restaurant-container {
    background-color: white;
    box-shadow: 2px 2px 7px dimgrey;
    border-radius: 10px;
    /*width: 16vw;*/
    height:20vw;
    /*margin-top: 0;*/
    /*margin:13px;*/
    margin-top:0;
    margin-bottom: 30px;
    font-size: 1.3vw;
}

.restaurant-image-section {
    height: 60%;
}

.restaurant-image {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
}

.restaurant-name-section {
    height: 25%
}

.restaurant-name {
    margin-bottom: 20px;
}

.restaurant-btn-section {
    height: 15%;
    margin-bottom: auto;
    margin-top: auto;
}

.menu-btn {
    /*margin-top: 20px;*/
    /*height: 30px;*/
}

#search-btn {
    height: 50px;
}

.home-section-title {
    font-size: 3.2vh;
    font-weight: lighter;
    padding: 10px;
    padding-bottom: 6px;
}

.food-party-container {
    margin-top: 50px;
    padding: 0 !important;
}

.food-party-timer {
    border: 1px solid #1a535c;
    border-radius: 5px;
    color: #1a535c;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2vh;
    font-weight: lighter;
    line-height: 1.2vh;
}

.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: 1px transparent solid;
}

.cards-wrapper {
    padding: 0 !important;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px dimgrey;

}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    width: 250px !important;
    height: 250px !important;
    border-radius: 15px !important;
    box-shadow: 0 0 5px dimgrey;
    margin-left: 30px;
    flex: 0 0 auto;
}

.discount-food-top {
    width: 100%;
    height: 50%;
    margin: 0 !important;
    padding-top: 15px;
}

.discount-food-price-section {
    width: 100%;
    height: 15%;
    margin: 0 !important;
    align-items: center;
}

.discount-food-buy-section {
    width: 100%;
    height: 20%;
    margin: 0 !important;
    align-items: center;
}

.discount-food-restaurant-section {
    width: 100%;
    height: 15%;
    margin: 0 !important;
    align-items: center;
}

.buy-section-btn-width {
    width: 100% !important;
}

.discount-food-restaurant-section .restaurant-title {
    font-size: 16px;
    color: dimgrey;
}

.custom-border {
    background-image: linear-gradient(to right, lightgray 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 15px 2px;
    background-repeat: repeat-x;
}

.discount-food-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.discount-food-title{
    font-size: 16px;
}

.discount-food-subtitle{
    font-size: 14px;
}

.no-padding-right {
    padding-right: 0 !important;
}

.medium-padding-right {
    padding-right: 6px !important;
}

.small-padding {
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.discountFood-modal {
    max-width: 60% !important;
    transform: translate(-0%, 70%) !important;
}

.discountFood-modal>div{
    border-radius: 20px !important;
}

.discountFood-modal .update-border img {
    border-radius: 5px !important;
}

#oldPrice {
    text-decoration: line-through red;
    text-decoration-thickness: 2px;
    color: dimgray;
    margin-left: 20px;
}

.remained-count {
    margin-right: 15px;
    font-size: 15px;
    background-color: mintcream;
    color: dimgray;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.modal-add-cart {
    background-color: #4ecdc4;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}


@media screen and (max-width: 800px) {
    .card {
        width: 150px !important;
        height: 150px !important;
        border-radius: 10px !important;
        box-shadow: 0 0 3px dimgrey;
        margin-left: 30px;
        flex: 0 0 auto;
    }

    .discount-food-top {
        width: 100%;
        height: 50%;
        margin: 0 !important;
        padding-top: 5px;
    }

    .discount-food-image {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .discount-food-title{
        font-size: 10px;
    }

    .discount-food-subtitle{
        font-size: 9px;
    }

    .discount-food-restaurant-section .restaurant-title {
        font-size: 9px;
        color: dimgrey;
    }

    .remained-count {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 8px;
        background-color: mintcream;
        color: dimgray;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    .buy-section-btn-width {
        width: 100% !important;
        font-size: 8px;
        border-radius: 3px;
    }
}