.bold-text {
    font-weight: 900;
}

#welcome-txt {
    font-size: 5vw;
}

.register-form-container{
    background-image: url("../../assets/Cover Photo.jpg");
    background-position: center;
    background-size: cover!important;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.register-form {
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: #1a535c;
    width: 50vw;
    border-radius: 20px;
    padding: 30px;
    color: white;
}

.field {
    background-color: #e7e7e7;
}

.enabled-register-btn {
    border-radius: 5px;
    background-color: #FFE66D;
    border: none;
}

.disabled-register-btn {
    border-radius: 5px;
    border: none;
    background-color:lightgray;
    color:dimgray;
}
