.cart-section {
    border-radius: 1vw;
    /*height: 30vh;*/
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0px 2px 5px darkgrey;
}

.cart-title {
    font-weight: bold;
    font-size: 1.5vh;
    padding-bottom: 0.8vh;
    border-bottom: 2px darkgrey solid;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0.2vh;
    margin-left: auto;
    margin-right: auto;
}

.cart-items-container {
    padding: 1vh;
    padding-top: 0;
    padding-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px darkgrey dashed;
    width: 92%;
}
.add-to-cart-btn {
    margin-top: 0.5vw;
    height: 2vw;
    border-radius: 4px;
    background-color: #FFE66D;
    border: none;
}

.cart-item-row .food-name {
    text-align: right;
    padding:0;
    font-size: 1.5vh;
    font-weight: 100;
}

.cart-item-row .food-details {
    text-align: left;
    font-size: 1.2vh;
    padding: 0;
}

.cart-item-row .remove-food {
    color:#ff6b6b;
}

.cart-item-row .add-food {
    color:#1a535c;
}

.cart-item-row .food-num {
    font-size: 1.4vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.cart-item-row .price {
    font-size: 1vh;
}

.not-link{
    text-decoration: none;
    color: black;
}

.not-link:hover{
    text-decoration: none;
}


.add-remove-item
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 1.2vh;
    font-style: normal;
    margin-left: 0px;
}

.submit-order {
    background-color: #4ecdc4;
    color: white;
    border-radius: 5px;
    font-family: Vazir;
    font-size: 1.7vh;
    line-height: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border: none;
}