@font-face {
  font-family: "Vazir";
  src: url("./assets/Fonts/vazir-fonts/Vazir.ttf");
}

.page-container {
  position: relative;
  background-color: #f7fff7;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 5vh;
  padding-top: 0;
}

.center-items {
  display: flex;
  justify-content: center;
}

* {
  direction: rtl;
  font-family: "Vazir" ;
}

.flex-row {
  display:flex;
  flex-direction: row;
}

.simple-head-bar {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vw;
  padding-right: 4vw;
  background-color: #ff6b6b;
  color: white;
  height: 18vh;
  display:flex;
  flex-direction: row;
}


.final-price {
  font-size: 1.5vh;
  padding: 1vh;
}

.basic-modal {
  max-width: 60% !important;
  transform: translate(-0%, 110%) !important;
}

.basic-modal>div{
  border-radius: 25px !important;
}

.navy-underlined-title {
  border-bottom: 2px solid #1a535c;
  font-size: 2.5vh;
  font-weight: bold;
  color: #1a535c;
}

.temp-border {
  border: 1px solid rebeccapurple !important;
}

.temp-border-2 {
  border: 1px solid firebrick;
}

.no-padding {
  padding: 0 !important;
}