.header {
    padding-top: 1vh;
    padding-bottom: 2vh;
    /*padding-right: 1vw;*/
    /*padding-left: 2vw;*/
    background-color: white;
    height: 60px;
    font-size: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    font-weight: 100;
}

.header-row {
    padding-left: 40px;
    padding-right: 40px;
}

#logo {
    width: 40px;
    height: 40px;
}

.exit-button {
    color: #ff6b6b;
    display: flex;
    justify-content: right;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 2vh;
}

.cart-button {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 0;
    padding: 0 !important;
}

.profile-button {
    padding: 0 !important;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 2vh;
}

.profile-ref, .profile-ref:hover {
    color: dimgrey;
}

.exit-ref, .exit-ref:hover {
    color: #ff6b6b;
}

.cart-ref, .cart-ref:hover {
    color: dimgrey;
}

.cart-ref, .cart-ref:hover {
    text-decoration: none;
    font-weight: 100 !important;
}

.profile-ref, .profile-ref:hover, .exit-ref, .exit-ref:hover {
    text-decoration: none;
    font-weight: 100 !important;
    display: flex;
    justify-content: center;
}

.temp-border {
    border: 1px solid rebeccapurple;
}
