.simple-head-bar {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 4vw;
    background-color: #ff6b6b;
    color: white;
    height: 18vh;
    display:flex;
    flex-direction: row;
}

.user-name-section {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}

.user-name {
    padding-top: 3vh;
    font-size: 2.2vh;
    font-weight: bolder;
}

.user-icon {
    font-size: 6vh;
}

.user-details-section {
    flex-grow: 1;
    padding-top: 2vh;
    font-size: 1.7vh;
}

@media screen and (min-width: 800px) {
    .user-name {
        padding-top: 3vh;
        font-size: 4vh;
        font-weight: bolder;
    }

    .user-icon {
        font-size: 8vh;
    }

    .user-details-section {
        flex-grow: 1;
        padding-top: 2vh;
        font-size: 2.5vh;
    }
}

.user-detail {
    display:flex;
    flex-direction: row;
}

.not-link:hover{
    text-decoration: none;
    color: black;
}

.status-delivery{
    background-color: #C9F3C7;
    border-radius: 5px;
    height: 2.5vh;
    font-size: 1.2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: black;
    text-decoration: none;
}

.status-delivery-search{
    background-color: #D2FDFC;
    border-radius: 5px;
    height: 2.5vh;
    font-size: 1.2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: black;
    text-decoration: none;
}

.status-delivered{
    background-color: #FFE66D;
    border-radius: 5px;
    height: 2.5vh;
    font-size: 1.2vh;
    box-shadow: 1px 1px 2px dimgrey;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: black;
    text-decoration: none;
}

#non-active-tab {
    background-color: white;
    border: 1px solid lightgrey;
    height: 50px;
}

.right-tab {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 1px 1px dimgrey;
}

#active-tab {
    background-color: #ff6b6b;
    border: 1px solid lightgrey;
    height: 50px;
}

.left-tab {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0px 1px 0px dimgrey;

}


#active-tab-ref {
    text-decoration: none;
    color: white;
}

#non-active-tab-ref {
    text-decoration: none;
    color: black;
}

.tab-choices {
    position: relative;
    top: 25px;
    z-index: 1;
}

.profile-form-container {
    margin-top: 40px;
    max-width:80vw;
}

.profile-form {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 8vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 20vh;
}

.orders-list {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
    /*padding-right: 2vw;*/
    /*padding-left: 2vw;*/
    /*padding-top: 2vh;*/
    /*padding-bottom: 2vh;*/
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.orders-container {
    padding-right: 3vh;
    padding-left: 3vh;
    padding-top: 4vh;
    padding-bottom: 3vh;
}

.order {
    height: 4.5vh;
    font-size: 1.4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.order-item{
    border: 1px solid #AEB0AF;
    background-color: #FBFBFB;
    height: 4.5vh;
}

.center-vertical{
    padding-top: 1vh;
    padding-bottom: 1.1vh;
    padding-left: 0;
    padding-right: 0;
}

.number-size {
    font-size: 1.8vh;
}

.order .order-item:first-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    border-left: none;
}

.order .order-item:last-child {
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 1px solid lightgrey;
    border-right: none;
}

#credit-amount {
    background-color: #e7e7e7;
    border-radius: 10px;
    margin-left: 5vw;
    height: 50px;
    color: black;
}

#increase-credit-btn {
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 10vw;
    font-family: Vazir;
}

.disabled-credit-btn{
    background-color:lightgray;
    color:dimgray;
}

.enabled-credit-btn{
    background-color: #4ecdc4;
    color: white;
}

.credit-amount::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Vazir;
    opacity: 1; /* Firefox */
}

.credit-amount:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Vazir;
}

.credit-amount::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Vazir;
}

.order-table {
    text-align: center;
}

.order-table-header tr th {
    color: grey !important;
    font-size: 1.2vh;
    font-weight: lighter;
}

.order-table tr {
    height: 10px !important;
    line-height: 10px;
    max-height: 10px !important;
}

.order-table tbody tr {
    color: #555555;
    font-weight: bold;
    font-size: 1.3vh !important;
}

.order-table-id-col {
    width: 8%;
}

.order-table-food-col {
    width: 60%;
}

.order-table-count-col {
    width: 16%;
}

.order-table-price-col {
    width: 16%;
}

.order-details-title {
    text-align: center;
    font-size: 3vh;
    padding-bottom: 0.8vh;
    border-bottom: 2px lightgray solid;
    width: 60%;
    margin-top: 0;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}
