#restaurant-logo {
    width: 25vh;
    height:25vh;
    border: 7px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 2px dimgrey;
    margin-bottom: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#restaurant-info {
    position: relative;
    top: -12vh;
    font-size: 4vh;
    font-weight: 800;
}

.restaurant-section {
    padding-top: 0;
    background-color: #f7fff7;
    border-top: none;
    border-bottom: none;
    border-left: none;

    border-radius: 0px;
}
.right-border {
    border-right: 3px dashed lightgrey;
}

.right-align {
    text-align: right;
}

.food-details-title {
    text-align: center;
    font-size: 25px;
    color: dimgray;
    width: 60%;
    margin-top: 0;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.food-modal {
    max-width: 60% !important;
    transform: translate(-0%, 90%) !important;
}
.food-modal .update-border img{
    border-radius: 10px !important;
}

.food-modal>div{
    border-radius: 20px !important;
}

.restaurant-info{
    position: relative;
    top: -6vh;
}

.minus {
    color: red !important;
    margin-right: 15px;
}

.restaurant-pannel {
    width:100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 3vh;
}

.restaurant-pannel .list-group-item:first-child {
    border-radius: 0px !important;
}

.restaurant-pannel .list-group-item:last-child {
    border-radius: 0px;
}
.restaurant-page {
    position: relative;
    top: -8vh;
}

.food-container {
    background-color: white;
    box-shadow: 2px 2px 7px dimgrey;
    border-radius: 10px;
    width: 16vw;
    height:20vw;
    /*margin-top: 0;*/
    margin:13px;
    margin-top:0;
    margin-bottom: 30px;
    font-size: 1.3vw;
}

.food-info{
    font-size:1vw;
}

.food-title{
    font-size: 25px;
}

.food-description{
    font-size: 15px;
    color:dimgray;
}

.food-image {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    width: 8vw;
    height: 8vw;
    border-radius: 10px;
}

.add-to-cart-btn {
    font-family: Vazir;
    margin-top: 0.5vw;
    height: 2vw;
    border-radius: 4px;
    background-color: #FFE66D;
    border: none;
}

.not-available-btn {
    font-family: Vazir;
    margin-top: 0.5vw;
    height: 2vw;
    border-radius: 4px;
    background-color: lightgrey;
    border:none;
}

.light-text {
    font-weight: lighter;
}

.bold-text {
    font-weight: 900;
}
.star {
    color: goldenrod;
}

.right-padding {
    padding-right: 1vw;
}

#restaurant-title{
    font-size: 3vh;
    font-weight: bold;
}

.remove-food {
    color:#ff6b6b;
}

.add-food {
    color:#1a535c;
}

.food-num {
    font-size: 20px;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}


.dashed-border-bottom {
    border-bottom: 1px darkgrey dashed;
}

.food-data {
    padding-right: 25px !important;
}

.modal-food-image{
    vertical-align: middle;
    margin-bottom: 1vw;
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-left: 10px;
}

.cart-items {
    padding: 0;
    width: 100%;
    padding-right: 0.7vh;
    padding-left: 0.7vh;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media screen and (min-width: 800px) {
    .cart-items {
        padding: 0;
        padding-right: 2%;
        padding-left: 2%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.cart-item {
    padding: 0;
    padding-bottom: 0.5vh;
    padding-top: 0.7vh;
    border: 0;
    border-bottom: 2px #d7d7d7 solid;
}

.cart-item-row {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.modal-add-cart {
    background-color: #4ecdc4;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}

.select-count {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.start-foods-section {
    margin-right: 1vh;
}

@media screen and (min-width: 800px) {
    .start-foods-section {
        margin-right: 5.2vw;
    }
}